<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <!-- Character max 160-->
    <meta name="description" content="{{.Site.Params.description | default ""}}">

    <!-- FIXME: UPDATE -->
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{.Site.BaseURL}}">
    <meta name="og:image" itemprop="image primaryImageOfPage" content="{{.Site.Params.primaryImage | default "" | absURL}}">
      <!-- ≥ 120px on edge -->

    <!-- Characters max 60-->
    <title>{{.Title}}</title>

    <!-- FIXME: REPLACE WITH GENERATED ICON SET -->
    <link rel="shortcut icon" href="{{.Site.Params.favicon | default "sam.ico" | absURL }}" id="favicon">

    <link rel="stylesheet" href="{{ "css/style.css" | absURL}}">

    <!-- FIXME: REPLACE WITH MIKI -->
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">

    <!-- FIXME: CUT JQUERY IF IT'S NOT NEEDED -->
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</head>
